/*CSS Reset*/
* {
    margin: 0; /*Retirar a margem externa*/
    padding: 0; /*Retirar a margemin interna*/
}

main {
    width: 100%;
}
body {
    font-family: Arial, Verdana;
}
.TituloPrincipal {
    padding-bottom: 30px;
}
.TitulosSecundarios {
    padding-top: 15px;
    padding-bottom: 15px;
}
#PartePrincipal{
    text-align: center;
    background-color: #3CB371;
    padding-top: 15px;
    padding-bottom: 15px;
}
#FichaTecnica {
    text-align: center;
    padding-bottom: 15px;
    background-color: #B0C4DE;
}
#Personagens {
    text-align: center;
    background-color: #3CB371;
}
#TrilhaSonora {
    text-align: center;
    padding-bottom: 15px;
    background-color: #B0C4DE;
}
#Elementos {
    text-align: center;
    background-color: #3CB371;
    padding-bottom: 15px;
}
#RegrasJogo {
    text-align: center;
    padding-bottom: 15px;
    background-color: #B0C4DE;
}
footer {
    text-align: center;
    background-color: #3CB371;
    padding: 15px;
    font-style: italic;
}
