* { /*Resetar CSS*/
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    font-family: Arial;
    font-size: 16px;
    padding-top: 100px;
    background-color: #CCC;
}
.header {
    background: #228B22;
    width: 100%; /*Largura*/
    position: fixed; /*Fixar cabeçalho ao topo*/
    top: 0; /*Fixar cabeçalho ao topo*/
    padding: 10px;
}
.header .navPrincipal {
    float: right;
    text-transform: uppercase;
    margin-right: 20px;
}
.header .navPrincipal ul li {
    list-style: none; /*Retirar Bolinho da lista*/
    display: inline-block; /*Deixar os iten um ao lado do outro*/
    margin: 15px; /*Margem entre os itens*/
}
.header .navPrincipal ul li a {
    text-decoration: none; /*Retirar Sublinhado*/
    color: rgb(39, 39, 39);
}
.header .navPrincipal ul li a:hover {
    color: #F0F8FF;
    transition: all 0.5s;
}
.meiosContatos ul li {
    display: inline-block;
    list-style: none;
    margin: 10px;
}
.bannerPrincipal {
    width: 100%;
}
main {
    text-align: center;
}
.tituloPrincipal {
    padding-top: 10px;
    padding-bottom: 15px;
    color: #228B22;
}
.subtitulos {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #228B22;
}
main p {
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
footer {
    text-align: center;
    background: #228B22;
    width: 100%;
}
footer p a{
    text-decoration: none;
}
footer p {
    padding-top: 10px;
    padding-bottom: 10px;
}
footer nav ul li a{
    color: rgb(39, 39, 39);
}
footer nav ul li a:hover {
    color: white;
    transition: all 0.5s;
}