/*CSS Reset*/
* {
    margin: 0; /*Retirar a margem externa*/
    padding: 0; /*Retirar a margemin interna*/
}

/*Outras Tags*/
.centro {
    width: 100%;
    margin: auto;
}
h2 {
    text-align: center;
}
h1 {
    text-align: center;
}
#ComecoSite {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white;
}
header {
    background-color: #3CB371;
}

/*Botão do Jogo*/
.BotaoJogo{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
button {
    background-color: white;
    width: 15%;
}

/*Sobre Mim*/
.SobreMim {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background-color: white;
}

/*Barra Navegação Principal*/
nav ul li{
    display: inline-block;
    padding: 20px; 

}
a{
    color: white;
}
a:hover {
    color: gray;
}
nav {
    text-align: right;
}

/*Formulário*/
label {
    display: block;
    margin-bottom: 10px;
}
input, textarea {
    margin-bottom: 10px;
    width: 40%;
}
form {
    text-align: center;
}

#Contato {
    padding-top: 50px;
    padding-bottom: 50px;
}

/*Botão Formulário*/
.BotaoEnviar {
    background-color: #3CB371;
    border-radius: 50px;
    color: white;
}

/*Rodapé*/
footer {
    text-align: center;
    padding: 15px;
    font-style: italic;
    background-color: white;
    background-color: #3CB371;
    color: white;
}
.FixarRodape {
    bottom: 0;
    position: fixed;
    width: 100%;
}

@media (max-width: 420px){ /*Tag para deixar o site responsivo*/
    nav {
        text-align: center;
    }
   
}