/*CSS Reset*/
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Verdana, Tahoma;
}
.parte_principal {
    width: 1000px;
    margin: auto;
}
h1 {
    text-align: center;
}
#jogo {
    padding-top: 22px;
    padding-bottom: 22px;
}
#ficha_tecnica {
    padding-top: 22px;
    padding-bottom: 22px;
}
#personagens {
    padding-top: 22px;
    padding-bottom: 22px;
}
#trilha_sonora {
    padding-top: 22px;
    padding-bottom: 22px;
}
#elementos {
    padding-top: 22px;
    padding-bottom: 22px;
}
#regras_jogo {
    padding-top: 22px;
    padding-bottom: 22px;
}